@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200&display=swap');

* {
    font-family: 'Kanit', sans-serif;
    overflow: none;
}

body{
    background-color: var(--background);
}

.app {
    overflow-x: hidden;
    transition: all .5s;
    /* background-image: var(--img-background); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.app-section-first {
    padding: 100px 30px;
}

.app-section {
    padding: 30px;
}

.app-container {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

/******************************/

/* nav sticky */
.nav {
    transition: all 0.1s linear;
    position: fixed;
    z-index: 100;
    width: 100%;
}

.scrollNav {
    transition: all 0.5s ease-in;
    z-index: 2000;
    background: #ffffff;
    width: 100%;
    border-bottom: 1px solid #dddddd;
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 20px;

}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #c5d5db;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

/******************************/