body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --background: white;
  --background-card: white;
  --text-primary: black;
  --img-github: url('../public/images/github.png');
  --box-shadow-card: 0 2px 8px 0 rgb(0 0 0 / 20%);
}

[data-theme='dark'] {
  --background: #121212;
  --background-card: #1d1d1d;
  --text-primary: #e1e1e1;
  --img-github: url('../public/images/githubDark.png');
  --box-shadow-card: 0 2px 8px 0 rgb(0 0 0 / 80%);
}